<h1>Show Haiku</h1>

<ul>

  <li>
    <strong>Line one:</strong>
    <%= @haiku.line_one %>
  </li>

  <li>
    <strong>Line two:</strong>
    <%= @haiku.line_two %>
  </li>

  <li>
    <strong>Line three:</strong>
    <%= @haiku.line_three %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.haiku_path(@conn, :edit, @haiku) %></span>
<span><%= link "Back", to: Routes.haiku_path(@conn, :index) %></span>
